body {
  background-color: #010409;
  color: #c9d1d9;
}

h1 {
  text-align: center;
  background-color: #0d1117;
  border-bottom: solid;
  border-width: 1px;
  border-color: #30363d;
  padding: 19px;
}

h2{
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  border-bottom: solid;
  border-width: 1px;
  border-color: #c9d1d9;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

.file-photo, .jumbotron, .info {
  background-color: #0d1117;
  border: solid;
  border-width: 1px;
  border-color: #30363d;
}

.file-photo, .info {
  padding: 25px;
  margin-left: 10px;
  margin-right: 30px;
  margin-top: 30px;
  float: right;
  border-radius: 0.3rem;
  text-align: center;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .memes {
  margin: 5px;
  padding-right: 10px;
  padding-left: 12px;
  background-color: #0d1117;
  border: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  border-color: #30363d;
}

.jumbotron h2 {
  border-bottom: none;
  text-align: center;
  animation: 2s fadein;
}

.jumbotron p {
  font-family: sans-serif;
  text-align: center;
}

.info p {
  text-align: left;
  padding-left: 20px;
}

.orange {
  color: #ff4500;
}

.green {
  color: #1ccc5b;
}

.blurple {
  color: #5865f2;
}

.white {
  color: #ffffff;
}

.info {
  width: 252px;
}

.jumbotron {
  margin: 12px;
}

.sidebar {
width: 250px;
float: right;
margin-right: 10px;
}

.row {
  padding-left: 3%;
  animation: 2s fadein;
}

.memes {
  -ms-flex: 0 0 93%;
  flex: 0 0 93%;
  max-width: 93%;
}