body {
  background-color: #010409;
  color: #c9d1d9;
}

h1 {
  text-align: center;
  background-color: #0d1117;
  border-bottom: solid;
  border-width: 1px;
  border-color: #30363d;
  padding: 19px;
}

.file-photo, .jumbotron {
  background-color: #0d1117;
  border: solid;
  border-width: 1px;
  border-color: #30363d;
  text-align: center;
}

.file-photo {
  padding: 25px;
  margin: 30px;
  float: right;
  border-radius: 0.3rem;
}

.jumbotron {
  margin: 12px;
}
